* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #daff08;
}

.main-container {
    width: 40rem;
    height: 50rem;
    margin: auto;
    margin-top: 10vh;
    background-color: #FFF;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    /* border: 2px solid gray; */
    box-shadow: 0 13px 20px rgb(0 0 0 / 0.4);
}

.avatar-container {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    margin-top: 3em;
    background-color: #daff08;
    padding: 1em;
    border-radius: 50%;
    overflow: hidden;
    /* border: 2px solid gray; */
}

.avatar-container img {
    margin: auto;
    margin-top: -.4rem;
    height: 200px;
    width: 200px;
}

.channel-name-p {
    margin-top: 0.5em;
    color: #333A66;
    font-weight: bold;
    font-size: 1.25rem;
}

.users-container {
    margin: 0 auto;
    background-color: #e0e0e8;
    height: 4rem;
    width: 18rem;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.username-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: center;
    margin: 0 auto;
}

.form input[type=text] {
    border: 1px solid gray;
}

.username-input {
    text-align: center;
    height: 2.5rem;
    border-radius: 8px;
    margin: .5em;
}

a {
    text-decoration: underline;
    color: #A20161;
}

.checkbox-div {
    margin: 1em;
}

.continue-button {
    border: none;
    background-color: #A20161;
    margin: 1em auto;
    padding: 1em 8em;
    color: #FFF;
    border-radius: 10px;
    font-size: 1.25em;
}